@{
    ViewBag.Title = "Home";
}

<div style="text-align: center;" class="jumbotron">
	<img src="~/Content/logo.jpg" width="230" alt="Project Yellowstone Logo" />
    <h1 style="display: inline; padding-left: 20px;">Project Yellowstone</h1>
</div>